USE [master]
GO
/****** Object:  Database [Seguros]    Script Date: 20/10/2017 22:44:33 ******/
CREATE DATABASE [Seguros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Seguros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.AL_ON_PC\MSSQL\DATA\Seguros.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Seguros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.AL_ON_PC\MSSQL\DATA\Seguros_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Seguros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Seguros]
GO
/****** Object:  Table [dbo].[Seguro]    Script Date: 20/10/2017 22:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seguro](
	[idSeguro] [int] IDENTITY(1,1) NOT NULL,
	[precioBase] [int] NULL,
	[tasaAumento] [float] NULL,
	[tasaDias] [float] NULL,
	[descripcion] [varchar](250) NULL,
	[idTipoSeguroFK] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoSeguro]    Script Date: 20/10/2017 22:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoSeguro](
	[idTipoSeguro] [int] IDENTITY(1,1) NOT NULL,
	[TipoSeguro] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
